* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #0f0f0f;
    --opacity-black-60: #0f0f0faa;
    --dark-gray-20: #262626;
    --dark-gray-30: #333333;
    --dark-gray-40: #393939;
    --dark-gray-60: #949494;
    --dark-gray-100: #f5f5f5;
    --off-white-50: #c2c2c2;
    --off-white-60: #d4d4d4;
    --opacity-white-10: #ffffff0f;
    --opacity-white-20: #ffffff14;
    --opacity-white-30: #ffffff1a;
    --opacity-white-40: #ffffff2a;
    --orange: #ffa116;
    --green: #27c143;
    --red: #ff4757;
    --blue: #007bff;
}

#viewport {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
