#code-input {
    color: var(--off-white-60);
    caret-color: var(--off-white-60);
    padding: 4px 4px 8px 8px;
    font-family: "Droid Sans Mono", "monospace", monospace;
    font-size: 14px;
    line-height: 22px;
    cursor: text;
    overflow: scroll;
    display: flex;
}

#code-input code {
    flex: 1 0 0;
}

#code-input code:focus-visible,
#code-input:focus-visible {
    outline: none;
}
