#pane-container {
    flex: 1 0 0;
    display: flex;
    background-color: var(--black);
    padding: 0px 10px 10px 10px;
    gap: 8px;
}

.sub-pane-container {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pane {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

#guide {
    flex: 1 0 0;
}

#code-editor {
    flex: 3 0 0;
}

#console-log {
    flex: 2 0 0;
}

#article,
#code-input,
#output {
    flex: 1 0 0;
    background-color: var(--dark-gray-20);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#output {
    border: none;
    resize: none;
}

